@model UserAccount
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex gap-4 justify-content-center align-items-center flex-column mx-auto" style="width:500px; max-width:90vw;">
    <img src="@Model.ProfileImage" class="rounded-circle" style="width:100px" />
    <span class="fs-3 fw-bold">@Model.Name</span>
    <span class="fs-4">@Model.Email</span>
    <a class="py-2 px-5 bg-light rounded text-decoration-none text-danger fw-bold fs-5" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>

</div>