@using TropicalBudget.Utilities
@model List<Budget>
@{
    ViewData["Title"] = "Home Page";
    List<Budget> budgets = Model;
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tropical Budget</h1>
    <div class="my-2">
        <a class="text-decoration-none border p-2 d-block rounded btn btn-primary" asp-controller="Home" asp-action="NewBudget">Add New Budget</a>
    </div>
</div>


<div class="d-flex flex-column gap-2">
    @if (budgets != null && budgets.Count > 0)
    {
        foreach (Budget budget in budgets)
        {
            var routeData = new Dictionary<string, string>()
            {
                {"budgetID", budget.ID.ToString()}
            };
            <a asp-controller="Transaction" asp-action="Index" asp-all-route-data="@routeData" class=" bg-light p-2 fs-5 text-center text-decoration-none" style="cursor:pointer">
                <span>@budget.Name</span>
            </a>
        }
    }
</div>

<script>
</script>