@using TestMVC.Utilities
@model List<Transaction>
@{
    ViewData["Title"] = "Home Page";
    List<Transaction> transactions = Model;
    List<IGrouping<DateOnly,Transaction>> groupedTransactions = transactions.GroupBy(transaction => DateOnly.FromDateTime(transaction.TransactionDate)).ToList();
    if (groupedTransactions != null)
        groupedTransactions = groupedTransactions.OrderByDescending(group => group.Key).ToList();

}

<div class="text-center">
    <h1 class="display-4">Welcome to Tropical Budget</h1>
    <partial name="~/Views/Home/_SpendingListBanner.cshtml" model="transactions" />
    <div class="my-2">
        <a class="text-decoration-none border p-2 d-block rounded" asp-controller="Home" asp-action="NewTransaction">Add New Transaction</a>
    </div>
</div>


<div class="d-flex flex-column gap-2">
    @if (groupedTransactions != null && groupedTransactions.Count > 0)
    {
        foreach (IGrouping<DateOnly, Transaction> groupedTransaction in groupedTransactions)
        {
            <div>
                @{
                    decimal dailyTotal = TransactionUtility.GetIncome(groupedTransaction.ToList()) - TransactionUtility.GetExpenses(groupedTransaction.ToList());
                }
                <div class="d-flex justify-content-between align-items-center">
                    <h2>@groupedTransaction.Key.ToString("yyyy-MM-dd")</h2>
                    <span>@($"{dailyTotal:c}")</span>
                </div>
                <div class="d-flex flex-column gap-2">
                    @if (groupedTransaction != null && groupedTransaction.ToList().Count > 0)
                    {
                        foreach(Transaction transaction in groupedTransaction.ToList()){
                            <partial name="~/Views/Home/_TransactionCard.cshtml" model="transaction" />
                        }
                    }
                </div>
            </div>
        }
    }
</div>

<script>
    const deleteTransaction = (transaction_id) => {
        if(confirm("Are you sure you want to delete this transaction?") == true){
            location.href = "@Url.Action("DeleteTransaction","Home")" +"?transactionID=" + transaction_id;
        }
    }
</script>